@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body,div,p,h1,h2,h3  {
  margin:0px;
  padding:0px;
  box-sizing:border-box
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
a {
	color: #3875d7;
	text-decoration: none;
}

a:hover {
	background-color: #3875d7;
	color: #f0f0f0;
	text-decoration: none;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
	text-align:justify;
  height:100%;
}

#header {
  position:relative;
  margin-top:50px;
}
#face{
  height:100px;
  width:100px;
  border-radius:7px;
  -mox-border-radius:7px;
}
#righty{
}

#nom{
}

#nom h1{
  font-family: 'Share Tech', 'Arial', 'Helvetica', sans-serif;
  color:#333;
  padding-left:10px;
  padding-bottom:0px;
  margin:0px;
}
#links{
}
#links p{
  margin:0px;
  color:white;
}
#links p a{
  color:#333;
}

#container{
  width:80%;
  margin:0 auto;
}

#content{
  padding-left:110px;
}
#content section { 
  font: 16px 'Droid Serif', serif; 
  color: #333; 
  background: #fff; 
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  margin-bottom:10px;
}
p{ 
  line-height:1.5em;
  padding-top:8px;
  padding-bottom:8px;
}
#content h1{
  margin-bottom:30px;
  margin-top:10px;
  text-align:center;
}
#content h2{
  margin-top:20px;
  margin-bottom:20px;
}
#content section p.warning{
  text-align: center;
  background: #ffdddd;
  font-style:italic;
  color:#662222;
}

.dateinfo{
  font-size:small;
  color:#aaa;
  width:100%;
  position:relative;
}
.dateinfo .date{
  position:absolute;
  left:0px;
  top:0px;
}
.dateinfo .tags{
  position:absolute;
  top:0px;
  right:0px;
  text-align:right;
}

.tag{
  background:#eef;
  padding:2px;
  border-radius:3px;
  display:inline-block;
}
.cloudtag{
  margin-bottom:7px;
}
.postlist{
  list-style-type: none;
  padding:0px;

}
.talkitem{
  margin-left: 2em;
}
.center{
  margin-left:auto;
  margin-right: auto;
  display: block;
}
pre{
  padding:10px;
  color:white;
  background-color: #404040;
  overflow-y:hidden;
  overflow: auto;
  -ms-overflow-y: hidden;
}
img{
  max-width: 100%;
}

@media screen and (max-width: 750px){
  body{
    text-align:left;
  }
  #container{
    width:100%;
  }
  #content{
    padding:0px;
  }
  #container{
    min-width:0px;
  }
  #header{
    text-align:center;
    margin-top:0px;
  }
  #face{
    margin-right:auto;
    margin-left:auto;
  }
  #header #righty{
    position:relative;
  }
  #righty{
    position:relative;
  }
  .postlist{
    padding:0px;
  }
  .postlist li{
    margin-top:5px;
  }
  .postdate{
    display:block;
    font-size:small;  
  }
  .postlist li a {
    display: block;
  }

}

@media screen and (min-width: 750px){
  #header{
    height:120px;
  }
  #header #face{
    position:absolute;
    top:10px;
    left:0px;
  }
  #righty{
    position:absolute;
    left:100px;
    top:0px;
    right:0px;
    bottom:0px;
  }
  #nom {
    height:60px;
    position:absolute:
    bottom:60px;
    top:0px;
    left:0px;
    right:0px;
  }
  #nom h1{
    position:absolute;
    bottom:60px;
  }
  #links{
    padding:12px;
    position:absolute;
    left:0px;
    top:60px;
    bottom:0px;
    right:0px;
  }
  .semail{
    float:right;
  }
  
  .postlist li{
    height:1.25em;
  }
  .postdate{
    display:block;
    width:150px;
    font-size:small;  
    text-align:right;
    float:left;
    margin-top:3px;
    padding-right:5px;
  }
  .postlist li a {
    display: block;
    text-align:left;
    float:left;
  }

}
